html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    background: #fafafa;
  }
  
  h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
    font-weight: 700;
  }
  